@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-color: white;
    --second-font-color: #FD6F00;
    --background-color: #1E1E1E;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    color: var(--font-color);

}

body {
    background-color: var(--background-color);
}

.nav-bar {
    padding: 70px 200px;
}

.nav-bar ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-bar ul a {
    font-size: 21px;
    /* color: var(--font-color); */
    text-decoration: none;
}
.nav-bar ul a:hover{
    color: var(--second-font-color);
}

#home {
    padding: 70px 500px 70px 200px;
    display: flex;
    justify-content: space-between;
}

.home-child h1 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
    word-spacing: 5px;
}

.home-box button {
    background-color: var(--second-font-color);
    margin: 20px 20px 20px 0px;
    font-size: 26px;
    padding: 20px;
    border-radius: 50px;
    border: none;
}

.home-child-2 a img {
    text-align: center;
}

.home-child-2 img {
    border-radius: 10px;
}

.home-icon ul {
    font-size: 1.5em;
    display: flex;
    list-style: none;
    gap: 20px;
}

#about {
    /* width: 100%; */
    background-image: linear-gradient(160deg, #FFA62F 0%, #80D0C7 100%);
    height: 540px;
    display: flex;
    justify-content: space-between;
}

.experience {
    padding: 94px 0px 0px 200px;
}

.experience h3 {
    font-size: 18px;
    /* padding-top: 24px; */
    font-weight: 400px;
    font-style: italic;
}

.experience h1 {
    font-size: 40px;
    padding-top: 24px;
}

.experience p {
    max-width: 540px;
    padding-top: 24px;
    font-size: 18px;
}

.first-year {
    padding: 94px 200px 0px 0px;
}

.first-year ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.first-year2 h3 {
    font-size: 36px;
}

.second-year {
    padding: 0px 200px 0px 0px;
}

.second-year ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.second-year2 h3 {
    font-size: 36px;
}

#projects {
    height: 540px;
    background-color: var(--background-color);
}

.myportfolio {
    text-align: center;
    padding-top: 94px;
}

.myportfolio h1 {
    font-size: 40px;
}

.myportfolio p {
    font-size: 18px;
    padding-top: 24px;
}

.project-button {
    text-align: center;
    padding-top: 24px;
    align-items: center;
}

.project-button button {
    background-color: black;
    font-size: 24px;
    padding: 10px;
    border: none;
}

#contact {
    padding: 200px;
    height: 540px;
    background-color: var(--background-color);
}

.contact-child {
    height: 540px;
    background-color: var(--second-font-color);
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}

.reachout-me {
    text-align: center;
}

.reachout-me p {
    font-size: 18px;
    font-style: italic;
}

.reachout-me h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.input-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-item input {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: var(--second-font-color);
    outline: none;
    border-bottom: 2px solid #b66a33;
    color: #ffffff;
}

.input-item input::placeholder {
    color: var(--font-color);
    font-size: 16px;
}

textarea {
    width: 100%;
    /* padding: 20px; */
    margin: 20px;
    border: none;
    outline: none;
    background-color: var(--second-font-color);
    border-bottom: 2px solid #b66a33;
    resize: none;
    height: 100px;
    color: var(--font-color);
}

textarea::placeholder {
    color: var(--font-color);
    font-size: 16px;
}

.input-file {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-file label {
    color: var(--font-color);
}

.input-file input[type="file"] {
    display: none;
}

.submit-button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #1E1E1E;
    font-size: 16px;
    cursor: pointer;
    transition: var(--background-color) 0.3s;
}

.submit-button:hover {
    background-color: #FD6F00;
}

footer {
    height: 20px;
    width: 100%;
    padding: 20px;
    background-color: black;
    text-align: center;
}